.friendsAvatar {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
}

.friendsBox {
    margin-top: 30px;
}


.button_add {
    background: #212222;
    border-color: #41afdb;
    padding: 5px 5px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    color: lightseagreen;
    margin: 10px;
}

.button_remove {

    background: #121a1a;
    border-color: #41afdb;
    color: lightseagreen;
    padding: 5px 5px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}
