.header {
    display: flex;
    grid-area: h;
    background-color: #1eccd2;
}

.titleBox {
    background: floralwhite;

    width: 200px;
}

.title {

}

.login {
    margin-left: auto;
    justify-content: flex-end;
    padding: 14px;
}
